:root {
    --color-1: hsl(47, 88%, 63%);
    --color-2: hsl(0, 0%, 100%);
    --color-3: hsl(0, 0%, 42%);
    --color-4: hsl(0, 0%, 7%);
}

body {
    background-color: var(--color-1);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
}

#blog-card {
    width: 375px;
    border: 2px solid var(--color-4);
    border-radius: 20px;
    background-color: var(--color-2);
    padding: 20px;
}